<head>
<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XCJ3RPMMMX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XCJ3RPMMMX');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2666275760425150"
     crossorigin="anonymous"></script>
{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

</head>
