---
layout: page
---
<span>
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="tag-name"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
</span>

<p class = "post-meta">
  {{ page.date | date_to_string }}
</p>

{{ content }}

<div class="post-navigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&lt; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &gt;</a>
  {% endif %}
</div>
